.header {
    background-color: #022d00; /* dark green */
    color: white;
    font-family: sans-serif;
  }
  
  .top-bar {
    display: flex;
    align-items: center;
    padding-bottom: 0px;
  }
  
  .logo-section .logo {
    height: 80px;
    width: auto;
    padding: 1px 5px;
    margin-right: 20px;
  }
  
  .title-section .estate-title {
    font-size: 28px;
    font-weight: bold;
    justify-content: space-between;
    margin: 0;
  }
  
  .title-section .university-subtitle {
    font-size: 18px;
    margin: 0;
  }
  
  .nav-bar {
    background-color: #024d00; /* slightly lighter green */
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    gap: 20px;
    flex-wrap: wrap;

    justify-content: space-between;
  }
  
  .nav-bar a {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }
  
  .nav-bar a:hover {
    text-decoration: underline;
  }
  